﻿<div style="padding:20px;"> 

<table>
    <tr>
        <td>Odds</td><td><input type="text" id="val_a"></td><td><input type="text" id="val_b"></td>
    </tr>
    <tr>
        <td>Prices</td><td><input disabled type="text" id="price_a" placeholder="?" style="background-color:#ddd;color:#000;"></td><td><input type="text" id="price_b"></td>
    </tr>
</table>    

<input type="button" value="Calculate" onclick="Arb()" />

<br><br><br>

<span> Winning: </span> <span id="winning_number"></span>

</div>

<script>
    var elm_val_a = document.getElementById("val_a");
    var elm_val_b = document.getElementById("val_b");
    var elm_price_a = document.getElementById("price_a");
    var elm_price_b = document.getElementById("price_b");

    var elm_winning_number = document.getElementById("winning_number");

    function Arb() {
        elm_winning_number.value = "";
        if (elm_val_a * elm_val_b <= elm_val_a * 1 + elm_val_b * 1) return;
        var best_prc = 0;
        var best_winning = 0;

        for (var prc = elm_price_b.value / elm_val_a.value; prc < elm_price_b.value * elm_val_b.value; prc = prc + 0.1) {
            var spended = prc * 1 + elm_price_b.value * 1;
            var curr_minimum_winning = Min(prc * elm_val_a.value - spended, elm_price_b.value * elm_val_b.value - spended);
            if (curr_minimum_winning > best_winning) {
                best_prc = prc;
                best_winning = curr_minimum_winning;
            }
        }
        elm_price_a.value = best_prc;

        elm_winning_number.innerHTML = best_winning;
    }

    function Min(m, n) {
        if (m < n) return m;
        else return n;
    }

</script>